/* Container styles */
.container {
    max-width: 31.25rem;          /* Updated max width */
    min-width: 20rem;             /* Updated min width */
    padding: 1.25rem;             /* Padding inside the container */
    margin-top: 3.25rem;          /* Updated margin from top of viewport */
    background-color: #121212;    /* Dark background */
    border-radius: 0.75rem;       /* Rounded corners */
    box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, 0.5); /* Softer shadow */
}

h1 {
    color: #fff;
    font-size: 2.8rem;            /* Larger font size */
    font-weight: bold;            /* Bold title */
    margin: 2rem;                 /* Margin around the title */
}





/* Input and select fields styles */
input,
select {
    background-color: #121212;    /* Dark background for form elements */
    color: white;                 /* White text */
    width: 40%;                   /* Reduced width of input/select */
    padding: 0.625rem;            /* Padding inside inputs/selects */
    margin: 0.3125rem 0 0.9375rem; /* Margin around inputs/selects */
    border-radius: 0.25rem;       /* Rounded corners for inputs/selects */
    border: 1px solid #444;       /* Updated border color */
    font-size: 1rem;              /* Slightly larger font size for inputs */
}







ul, ol {
    list-style-type: none;        /* Removes bullet points or numbers */
    padding-left: 0;              /* Removes the default padding */
    margin: 0;                    /* Removes the default margin */
    margin-bottom: 1.25rem;       /* Add space at the bottom of the list */
}

/* Add more space between the list and the button */
.bank-details {
    margin-bottom: 1.25rem;       /* Adds bottom margin to bank details section */
}
