/* General body styles */
body {
    background-color: #121212;
    color: #e0e0e0;
    font-family: 'Arial', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
    margin: 0;
}

/* Navbar styles */
.navbar {
    background-color: #343a40; /* Dark background for navbar */
    padding: 0.5rem 1rem; /* Padding to give space around the navbar */
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
}

.navbar .container {
    max-width: 1140px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Navbar toggler (hamburger) button */
.navbar-toggler {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.navbar-toggler-icon {
    width: 30px;
    height: 3px;
    background-color: #fff;
    position: relative;
}

.navbar-toggler-icon:before,
.navbar-toggler-icon:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 3px;
    background-color: #fff;
    left: 0;
}

.navbar-toggler-icon:before {
    top: -8px;
}

.navbar-toggler-icon:after {
    top: 8px;
}

/* Navigation items */
.navbar-nav {
    list-style-type: none;
    padding-left: 0;
    margin: 0;
    display: flex;
}

.navbar-nav .nav-item {
    margin-left: 20px;
}

.navbar-nav .nav-link {
    color: white;
    text-decoration: none;
    padding: 8px 16px;
    display: block;
    transition: background-color 0.3s ease;
    font-size: 1.1em; /* Increase font size */
}

.navbar-nav .nav-link:hover {
    background-color: #495057; /* Hover effect */
    border-radius: 5px;
    color: white;
}

/* Navbar brand styles */
.navbar-brand {
    opacity: 0.5;
}

/* Button primary styles */
.btn-primary {
    text-align: center;
    width: 9.0rem;
    padding: 0.5rem 0.75rem;
    margin-bottom: 2.0rem;
    border-radius: 0.5rem;
    background-color: #007bff;
    color: white;
    border: none;
    font-size: 1rem;
    cursor: pointer;
}

.btn-primary:hover {
    background-color: #0056b3; /* Darker blue on hover */
}

/* Footer styles */
footer {
    text-align: center;
    margin-top: auto;
    padding: 1rem;
    opacity: 0.3;
}

/* Responsive design */
@media (max-width: 991px) {
    .navbar-collapse {
        display: none;
        width: 100%;
        background-color: #343a40;
        position: absolute;
        top: 60px;
        left: 0;
        z-index: 1000;
    }

    .navbar-collapse.show {
        display: block;
    }

    .navbar-nav {
        flex-direction: column;
        align-items: flex-start;
    }

    .navbar-nav .nav-item {
        margin: 10px 0;
    }

    .navbar-toggler.active + .navbar-collapse {
        display: block;
    }
}
