body {
    background-color: #121212;
    color: #e0e0e0;
    font-family: 'Arial', sans-serif;
}

.navbar {
    background-color: #1e1e1e;
}

.navbar .navbar-nav .nav-link {
    color: #e0e0e0 !important;
    font-size: 1.1em;
}

.navbar .navbar-nav .nav-link:hover {
    text-decoration: underline;
}

.container {
    padding-top: 80px;
}

.table {
    margin-bottom: 70px;
}

.coin-table th {
    background-color: #222;
    color: white;
    border-bottom: 5px solid #444 !important; /* 2px border, solid style, #444 color */

}

.coin-table td {
    background-color: #222;
    color: #e0e0e0;
    border: none !important;
}

.coin-column {
    text-align: left;
    padding-left: 10px;
}

.coin-logo {
    width: 24px;
    height: auto;
    margin-right: 8px;
}

.btn-primary {
    background-color: #333;
    border: none;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.btn-primary:hover {
    background-color: #333;
    transform: scale(1.2);
}

footer {
    border-top: 1px solid #444;
    margin-top: auto;
    padding: 20px 0;
}

footer p {
    text-align: center;
}