body {
    background-color: #121212;
    color: #e0e0e0;
    font-family: 'Arial', sans-serif;
}

.navbar {
    background-color: #191818;
}

.navbar .navbar-nav .nav-link {
    color: #e0e0e0 !important;
    font-size: 1.1em;
}

.container {
    background-color: #121212;
    padding-top: 80px;
}

.table {
    margin-bottom: 70px;
}

.table thead {
    border-bottom: 2px solid #444;

}

.coin-table th {
    background-color: #121212;
    color: white;
    border: none !important;
    font-weight: 100;
}

.coin-table td {
    background-color: #121212;
    color: #e0e0e0;
    border: none !important;
}

.coin-column {
    text-align: left;
    padding-left: 10px;
}

.coin-logo {
    width: 24px;
    height: auto;
    margin-right: 8px;
}

.coin-symbol {
    margin-left: 10px;
    color: rgb(88, 79, 79);
}

footer {
    margin-top: auto;
}

footer p {
    text-align: center;
}