.slogan-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 20vh;
}

h1 {
    font-family: 'Playfair Display', serif;
    font-size: clamp(3.5rem, 5vw, 6rem);
}

h2 {
    font-family: 'Playfair Display', serif;
    font-size: clamp(1.1rem, 1.4vw, 3rem);
}

.btn-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: absolute;
    top: 2rem;
    right: 2rem;
}

.btn-signup,
.btn-login {
    white-space: nowrap;
    text-decoration: none;
    background: #121212;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    font-size: clamp(1rem, 0.9vw, 1.5rem);
    margin: 0.625rem;
    opacity: 0.5;
}

.btn-signup:hover,
.btn-login:hover {
    opacity: 1.0;
}

footer a,
footer p {
    color: #ffffff;
    text-decoration: none;
    font-size: clamp(0.8rem, 0.8vw, 1.5rem);
}

footer p {
    margin-bottom: 0.2rem;
}


footer a {
    margin-right: 0.2rem;
}