.slogan-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 20vh;
}

h1 {
    font-family: 'Playfair Display', serif;
    font-size: clamp(3.5rem, 5vw, 6rem);
}

h2 {
    font-family: 'Playfair Display', serif;
    font-size: clamp(1.2rem, 1.4vw, 3rem);
}

.btn-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: absolute;
    top: 2rem;
    right: 2rem;
}

.btn-signup,
.btn-login {
    white-space: nowrap;
    text-decoration: none;
    background: #121212;
    color: #fff;
    border: none;
    border-radius: 0.25rem;
    text-transform: uppercase;
    font-weight: bold;
    margin: 0.625rem;
    font-size: clamp(1rem, 0.9vw, 1.5rem);
    opacity: 0.5;
}

.btn-signup:hover,
.btn-login:hover {
    opacity: 1.0;
}

footer a,
p {
    color: #ffffff;
    text-decoration: none;
    font-size: clamp(0.8rem, 0.8vw, 1.5rem);
}