body {
    background-color: #121212;
    color: white;
    font-family: 'Arial', sans-serif;
}

.navbar {
    background-color: #191818;
}

.navbar .navbar-nav .nav-link {
    color: #e0e0e0 !important;
    font-size: 1.1em;
}

.nav-link:hover {
    text-decoration: underline;
}

.container {
    padding-top: 80px;
}

table {
    width: 100%;
    margin-top: 20px;
    background-color: #444;
}

table th,
table td {
    padding: 10px;
    text-align: left;
    border-bottom: none;
}

table th {
    background-color: #121212;
    color: #e0e0e0;
}

table tbody tr {
    background-color: #121212;
}

table td {
    color: #e0e0e0;
}

table td strong {
    font-weight: bold;
    color: #e0e0e0;
}

.card {
    background-color: #121212;
    border-radius: 10px;
    border: none;
    margin-bottom: 70px;
}

.card-body {
    color: white;
}

.card-title {
    font-size: 1.5rem;
    font-weight: bold;
}

footer {
    border-top: 1px solid #444;
    margin-top: auto;
    padding: 20px 0;
}

footer p {
    text-align: center;
    color: #e0e0e0;
}