body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #121212;
    color: #e0e0e0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    position: relative;
}

.container {
    max-width: 31.25rem;
    margin-top: 3.125rem;
    padding: 1.25rem;
    background-color: #121212;
    border-radius: 0.75rem;
    box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, 0.5);
}

h1 {
    color: #fff;
    font-size: 2.8rem;
    font-weight: bold;
    text-align: center;
    margin: 2rem;
}

.form-label {
    font-weight: 500;
    color: #d1d1d1;
    margin-bottom: 0.625rem;
}

.form-control {
    background-color: #121212;
    color: #fff;
    border: 1px solid #444;
    padding: 0.75rem;
    margin-bottom: 1.25rem;
    width: 100%;
}

.form-control::placeholder {
    color: rgba(255, 255, 255, 0.6);
    background-color: #121212;
}

.form-control:focus {
    color: rgba(255, 255, 255, 1.0);
    background-color: #121212;
    border-color: #6c757d;
    box-shadow: 0 0 0 0.25rem rgba(107, 114, 128, 0.25);
}

.btn-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.625rem;
    margin-top: 1.25rem;
}

.btn-primary {
    background-color: #121212;
    border: 0.031rem solid rgba(255, 255, 255, 0.2);
    font-weight: bold;
    width: 9.375rem;
    padding: 0.5rem 0.75rem;
    margin-bottom: 2.0rem;
    text-align: center;
    font-size: 1.125rem;
    text-transform: uppercase;
    border-radius: 0.25rem;
}

.btn-primary:hover {
    background-color: #121212;
}

button:focus,
button:active {
    outline: none !important;
    box-shadow: none !important;
    background-color: #121212 !important;
    border-color: transparent !important;
}

.alert {
    text-align: center;
}

footer {
    background: #121212;
    color: #D1D1D1;
    text-align: center;
    padding: 1.5rem 0;
    position: absolute;
    bottom: 0;
    width: 100%;
}