body {
    background-color: #121212;
    color: #e0e0e0;
    font-family: 'Arial', sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container {
    max-width: 600px;
    padding: 20px;
    border-radius: 8px;
    align-items: center;
    margin-top: 80px;
}

h1,
h2,
label {
    color: white;
}

h1 {
    margin-bottom: 20px;
}

.tabs {
    display: flex;
    margin-bottom: 20px;
    width: 100%;
}

.tab-button {
    background-color: #333;
    flex: 1;
    padding: 10px;
    background-color: #e0e0e0;
    border: none;
    cursor: pointer;
    font-weight: bold;
    text-align: center;
}

.tab-button.active {
    background-color: #301bbb;
    color: white;
    outline: none;
}

.form-container {
    display: block;
    width: 100%;
}

label {
    display: block;
    margin: 10px 0 5px;
}

input,
select,
button {
    width: 100%;
    padding: 10px;
    margin: 5px 0 15px;
    border-radius: 4px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.submit-button {
    background-color: #333;
    color: white;
    border: none;
    cursor: pointer;
    font-weight: bold;
    margin-bottom: 40px;
}

.submit-button:hover {
    background-color: #0e6911;
}

#buy-limit-container {
    display: none;
}

footer {
    margin-top: auto;
}

footer p {
    text-align: center;
}