body {
    background-color: #121212;
    color: #e0e0e0;
    font-family: 'Arial', sans-serif;
}

.navbar {
    background-color: #1e1e1e;
}

.navbar .navbar-nav .nav-link {
    color: #e0e0e0 !important;
    font-size: 1.1em;
}

.nav-link:hover {
    text-decoration: underline;
}

h1.display-4 {
    color: #e0e0e0;
    font-weight: 300;
    margin-bottom: 10px;
}

p.lead {
    color: #e0e0e0;
    font-size: 1.1em;
}

.card {
    border: none;
    border-radius: 10px;
    margin-bottom: 160px;
}

.card-body {
    background-color: #1e1e1e;
    padding: 2rem;
}

.card-title {
    font-size: 1.5rem;
    font-weight: bold;
    color: #e0e0e0;
    margin-bottom: 1rem;
}

.form-group label {
    font-weight: 600;
    color: #e0e0e0;
}

.form-control {
    border-radius: 5px;
    border: 1px solid #ced4da;
    padding: 10px;
    font-size: 1rem;
}

.form-control:focus {
    border-color: #333;
}

button.btn-primary {
    background-color: #333;
    color: white;
    font-weight: 600;
    padding: 10px 20px;
    border: none;
}

button.btn-primary:hover {
    color: white;
    background-color: #0a740d;
}

footer {
    border-top: 1px solid #444;
    margin-top: auto;
    padding: 20px 0;
}

footer p {
    text-align: center;
}