body {
    background-color: #121212;
    color: white;
    font-family: 'Arial', sans-serif;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.container {
    max-width: 600px;
    background-color: #121212;
    padding: 20px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 80px;
}

.navbar {
    background-color: #191818;
}

.navbar .navbar-nav .nav-link {
    color: #e0e0e0 !important;
    font-size: 1.1em;
}

.nav-link:hover {
    text-decoration: underline;
}

h1,
h2,
label {
    color: white;
}

h1 {
    margin-bottom: 20px;
}

.tabs {
    display: flex;
    margin-bottom: 20px;
    width: 100%;
}

.tab-button {
    background-color: #333;
    flex: 1;
    padding: 10px;
    background-color: #e0e0e0;
    border: none;
    cursor: pointer;
    font-weight: bold;
    text-align: center;
}

.tab-button.active {
    background-color: #333;
    color: white;
}

.form-container {
    display: block;
    width: 100%;
}

label {
    display: block;
    margin: 10px 0 5px;
}

input,
select,
button {
    width: 100%;
    padding: 10px;
    margin: 5px 0 15px;
    border-radius: 4px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.submit-button {
    background-color: #333;
    color: white;
    border: none;
    cursor: pointer;
    font-weight: bold;
    margin-bottom: 40px;
}

.submit-button:hover {
    background-color: #053907;
}

#buy-limit-container {
    display: none;
}

footer {
    margin-top: auto;
}

footer p {
    text-align: center;
}
