body {
    background: #121212;
    color: #EAEAEA;
    font-family: Arial, sans-serif;
}

.container {
    max-width: 900px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}

h1 {
    font-size: 3.5em;
    margin-bottom: 40px;
}

h1,
h2 {
    color: #FFF;
}

p,
ul {
    line-height: 1.6;
    font-size: 1.1em;
    margin: 20px auto;
    max-width: 800px;
}

ul {
    list-style: none;
    padding: 0;
}

ul li {
    background: #121212;
    margin: 10px 0;
    padding: 15px;
    border-radius: 10px;
    border: none;
}

footer {
    background: #121212;
    color: #D1D1D1;
    border-top: 1px solid #444;
}

footer p {
    text-align: center;
}