body {
    background-color: #121212;
    color: #e0e0e0;
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
}

.navbar {
    background-color: #1e1e1e;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1050;
    padding: 10px 20px;
}

.navbar .navbar-brand {
    color: #e0e0e0 !important;
}

.navbar .navbar-nav .nav-link {
    color: #e0e0e0 !important;
    font-size: 1.1em;
}

.navbar .navbar-nav .nav-link:hover {
    background-color: #333;
    color: #fff;
}

.navbar-toggler-icon {
    background-color: #e0e0e0;
}

.navbar-nav.ml-auto {
    margin-left: auto;
}

.container {
    padding-top: 80px;
}

.card-header {
    font-size: 1.2em;
    font-weight: bold;
    background-color: #1f1f1f;
    color: #ffffff;
}

.coin-table th,
.coin-table td {
    text-align: center;
    vertical-align: middle;
}

.coin-table th {
    background-color: #333;
    color: white;
}

.coin-table td {
    background-color: #222;
    color: #e0e0e0;
}

.coin-name {
    display: flex;
    align-items: center;
}

.coin-logo {
    width: 20px;
    height: auto;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-right: 10px;
}

.chart-container {
    position: relative;
    height: 250px;
}

.modal-content {
    background-color: #333;
    color: #e0e0e0;
}

.modal-header {
    background-color: #444;
    color: #e0e0e0;
}

.modal-body {
    background-color: #333;
}

.modal-footer {
    background-color: #444;
}

.btn-primary {
    background-color: #1f80e2;
    border: none;
}

.btn-primary:hover {
    background-color: #155a8a;
}