body {
    background-color: #121212;
    color: #e0e0e0;
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
}

.slogan-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #121212;
}

.slogan-content {
    max-width: 600px;
    padding: 40px;
    background-color: #121212;
    border-radius: 10px;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.25), 0 4px 6px rgba(0, 0, 0, 0.15);
    text-align: center;
    color: #fff;
}

h1 {
    font-family: 'Playfair Display', serif;
    font-size: 3.2rem;
    font-weight: bold;
    margin-bottom: 20px;
}

h2 {
    font-family: 'Lora', serif;
    font-size: 1.8rem;
    font-weight: 400;
    color: #b0b0b0;
}

/* Styling the signup button container */
.signup-container {
    position: fixed;
    top: 15px;
    right: 115px;
}

.login-container {
    position: fixed;
    top: 15px;
    right: 10px;
}

.btn-signup, .btn-login {
    padding: 8px 15px;
    font-size: 1.1rem;
    background-color: #181717;  
    color: #fff;
    border: 2px solid #444444;  /* Thin border for subtle definition */
    border-radius: 4px;         /* Slight rounding of corners */
    text-transform: uppercase;  /* Makes the button text all caps */
    font-weight: 600;           /* Slightly bold text */
    box-shadow: none;           /* Remove strong shadows for a flat look */
    transition: all 0.3s ease;
}

.btn-signup:hover, .btn-login:hover {
    background-color: #444444;  /* Slightly lighter shade on hover */
    border-color: #555555;      /* Subtle border color change on hover */
    color: #fff;                /* Keep the text white */
}

@media (max-width: 768px) {
    .signup-container {
        top: 20px;   /* Adjusted position for smaller screens */
        right: 20px;
    }
}
