body {
    background-color: #121212;
    color: white;
}

.navbar {
    background-color: #1e1e1e;
}

.navbar .nav-link {
    color: white !important;
    font-size: 1.1em;
}

.navbar .nav-link:hover {
    color: #d9534f !important;
}

.container {
    padding-top: 80px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table th,
table td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

table th {
    background-color: #333;
    color: white;
}

table tbody tr:nth-child(even) {
    background-color: #1e1e1e;
}

table tbody tr:hover {
    background-color: #6c757d;
}

table tbody td {
    color: white;
}

table td strong {
    font-weight: bold;
    color: #d9534f;
}

.card {
    background-color: #1e1e1e;
    border-radius: 10px;
    border: none;
    margin-bottom: 70px;
}

.card-body {
    color: white;
}

.card-title {
    font-size: 1.5rem;
    font-weight: bold;
}

@media (max-width: 768px) {

    table th,
    table td {
        font-size: 0.9rem;
    }
}

footer {
    background: #121212;
    color: #D1D1D1;
    border-top: 1px solid #444;
    margin-top: auto;
    padding: 20px 0;
    padding-top: 50px;
}

footer p {
    text-align: center;
}