<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Landing</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0-alpha1/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='landing.css') }}">
</head>

<body>
    <div class="slogan-container">
        <div class="slogan-content">
            <h1 class="my-4">Marketplace</h1>
            <h2 class="my-4">Trade Cryptocurrencies with Ease</h2>
        </div>
    </div>

    <div class="auth-container">
        <div class="auth-button-container signup-container">
            <a href="{{ url_for('signup') }}" class="btn-signup">Sign up</a>
        </div>
        <div class="auth-button-container login-container">
            <a href="{{ url_for('login') }}" class="btn-login">Login</a>
        </div>
    </div>
    <footer class="footer">
        <a href="{{ url_for('about') }}">About</a> |
        <a href="{{ url_for('services') }}">Services</a> |
        <a href="{{ url_for('legal') }}">Legal</a>
    </footer>
</body>

</html>