{% extends "base.html" %}

{% block title %}Trade{% endblock %}

{% block stylesheets %}

<link rel="stylesheet" href="{{ url_for('static', filename='css/settings.css') }}">

{% endblock %}

{% block content %}
<div class="container">
    <section class="settings-section">
        <h2>Account</h2>
        <form action="/settings" method="POST" id="account-form">
            <div class="form-group">
                <label for="username">Username</label>
                <input type="text" id="username" name="username" placeholder="{{ user.username }}">
            </div>
            <div class="form-group">
                <label for="email">Email Address</label>
                <input type="email" id="email" name="email" placeholder="{{ user.email }}">
            </div>
            <div class="form-group">
                <label for="password">New Password</label>
                <input type="password" id="password" name="password" placeholder="Enter new password">
            </div>
            <div class="form-group">
                <label for="confirm-password">Confirm Password</label>
                <input type="password" id="confirm-password" name="confirm-password" placeholder="Confirm new password">
            </div>
            <button id="save-wallet-button" type="submit" class="btn btn-primary">Save Changes</button>
        </form>
    </section>

    <section class="settings-section">
        <h2>Account Management</h2>
        <form action="/delete-account" method="POST" id="delete-account-form">
            <p>If you would like to delete your account, please do so below. This action is irreversible.</p>
            <button type="submit" class="btn btn-danger">Delete Account</button>
        </form>
    </section>

</div>
{% endblock %}