{% extends "base.html" %}

{% block title %}Trade{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/trade.css') }}">
{% endblock %}

{% block content %}

<div class="container">
  <div class="h1">
    <h1 class="display-4">Trade</h1>
    <p class="lead">Trade Cryptocurrencies</p>
  </div>

  <div class="row mt-4">
    <button class="tab-button active" onclick="showTab('buy')">Buy</button>
    <button class="tab-button" onclick="showTab('sell')">Sell</button>
  </div>

  <div class="trade-form-container" id="buy-form">
    <h2>Buy</h2>
    <form action="{{ url_for('submit_buy_order') }}" method="POST">
      <label for="buy-crypto">Coin:</label>
      <select id="buy-crypto" name="coin-selection" required>
        <option value="BTC">Bitcoin (BTC)</option>
        <option value="ETH">Ethereum (ETH)</option>
        <option value="LTC">Litecoin (LTC)</option>
      </select>

      <label for="buy-amount">Amount:</label>
      <input type="number" id="buy-amount" name="coin-amount" placeholder="Enter amount" required>

      <label for="payment-method">Payment Method:</label>
      <select id="payment-method" name="payment_method" required>
        <option value="fiat">Fiat (USD, EUR, etc.)</option>
        <option value="crypto">Cryptocurrency</option>
      </select>

      <div id="buy-limit-container">
        <label for="limit-price">Limit Price (if limit order):</label>
        <input type="number" id="limit-price" name="limit_price" placeholder="Set limit price (optional)">
      </div>

      <label for="total-cost">Total Cost:</label>
      <input type="text" id="total-cost" name="total_cost" disabled>

      <div class="submit-button-container">
        <button type="submit" id="buy-submit-button" class="btn btn-primary">Place Order</button>
      </div>
    </form>
  </div>

  <div class="trade-form-container" id="sell-form" style="display: none;">
    <h2>Sell</h2>
    <form action="{{ url_for('submit_sell_order') }}" method="POST">
      <label for="sell-crypto">Coin:</label>
      <select id="sell-crypto" name="crypto" required>
        <option value="BTC">Bitcoin (BTC)</option>
        <option value="ETH">Ethereum (ETH)</option>
        <option value="LTC">Litecoin (LTC)</option>
      </select>

      <label for="sell-amount">Amount:</label>
      <input type="number" id="sell-amount" name="amount" placeholder="Enter amount" required>

      <label for="sell-price">Sell Price (Optional, for limit order):</label>
      <input type="number" id="sell-price" name="sell_price" placeholder="Enter price for limit order (optional)">

      <div class="submit-button-container">
        <button type="submit" id="sell-submit-button" class="btn btn-primary">Place Order</button>
      </div>
    </form>
  </div>
</div>

{% block additional_scripts %}

<script src="{{ url_for('static', filename='js/trade-tabs.js') }}"></script>

{% endblock %}
{% endblock %}
