{% extends "base.html" %}

{% block title %}Wallet{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/wallet.css') }}">
{% endblock %}

{% block content %}

<div class="container">
    <div class="h1">
        <h1 class="display-4">Wallet</h1>
        <p class="lead">Track cryptocurrency investments</p>
    </div>

    <div class="row mt-4">
        <div class="col-12">
            <div class="d-flex flex-column">
                <div class="table-responsive">
                    <table class="table coin-table">
                        <thead>
                            <tr>
                                <th scope="col">Coin</th>
                                <th scope="col">Amount</th>
                                <th scope="col">Current Price (USD)</th>
                                <th scope="col">Value (USD)</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for coin_name, coin_data in crypto_wallet.coins.items() %}
                            <tr>
                                <td>{{ coin_name }}</td> <!-- Display coin name -->
                                <td>{{ coin_data.amount }}</td> <!-- Display coin amount -->
                                <td>${{ coin_data.current_price }}</td> <!-- Display current price -->
                                <td>${{ coin_data.value }}</td> <!-- Display coin value -->
                            </tr>
                            {% endfor %}
                            <tr>
                                <td><strong>Total Wallet Value</strong></td>
                                <td></td>
                                <td></td>
                                <td><strong>${{ crypto_wallet.total_value }}</strong></td>
                            </tr>

                            <td><strong>Total Wallet Value</strong></td>
                            <td></td>
                            <td></td>
                            <td><strong>${{ crypto_wallet.total_value }}</strong></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}