{% extends "base.html" %}

{% block title %}Wallet{% endblock %}

{% block stylesheets %}

<link rel="stylesheet" href="{{ url_for('static', filename='css/wallet.css') }}">

{% endblock %}

{% block content %}

<div class="container">
    <div class="h1">
        <h1 class="display-4">Wallet</h1>
        <p class="lead">Track cryptocurrency investments</p>
    </div>

    <div class="row mt-4">
        <div class="col-12">
            <div class="d-flex flex-column">
                <div class="table-responsive">
                    <table class="table coin-table">
                        <thead>
                            <tr>
                                <th scope="col">Coin</th>
                                <th scope="col">Amount</th>
                                <th scope="col">Current Price (USD)</th>
                                <th scope="col">Value (USD)</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Bitcoin (BTC)</td>
                                <td>0.5</td>
                                <td>$40,000</td>
                                <td>$20,000</td>
                            </tr>
                            <tr>
                                <td>Ethereum (ETH)</td>
                                <td>2.5</td>
                                <td>$2,500</td>
                                <td>$6,250</td>
                            </tr>
                            <tr>
                                <td>Cardano (ADA)</td>
                                <td>1000</td>
                                <td>$0.50</td>
                                <td>$500</td>
                            </tr>
                            <tr>
                                <td>Solana (SOL)</td>
                                <td>50</td>
                                <td>$150</td>
                                <td>$7,500</td>
                            </tr>
                            <tr>
                                <td><strong>Total Wallet Value</strong></td>
                                <td></td>
                                <td></td>
                                <td><strong>$34,250</strong></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}