{% extends "base.html" %}

{% block title %}Wallet{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/wallet.css') }}">
{% endblock %}

{% block content %}

<div class="container">
    <div class="h1">
        <h1 class="display-4">Wallet</h1>
        <p class="lead">Track cryptocurrency investments</p>
    </div>
    <form id="auto-submit-form" method="POST" action="{{ url_for('wallet_values.get_wallet_values') }}">
        <!-- Add hidden fields if needed, for example: -->
        <!-- <input type="hidden" name="some_data" value="some_value"> -->
    </form>

    <div class="row mt-4">
        <div class="col-12">
            <div class="d-flex flex-column">
                <div class="table-responsive">
                    <table class="table coin-table">
                        <thead>
                            <tr>
                                <th scope="col">Coin</th>
                                <th scope="col">Amount</th>
                                <th scope="col">Current Price (USD)</th>
                                <th scope="col">Value (USD)</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% if crypto_wallet %}
                            {% for key, value in crypto_wallet.coins.items() %}
                            <tr>
                                <td>{{ key }}</td>  <!-- Coin -->
                                <td>{{ value }}</td>  <!-- Amount -->
                                <td>--</td>  <!-- Placeholder for Current Price (USD) -->
                                <td>--</td>  <!-- Placeholder for Value (USD) -->
                            </tr>
                            {% endfor %}
                            {% else %}
                            <tr>
                                <td colspan="4">No wallet found.</td>
                            </tr>
                            {% endif %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    
        </div>
    </div>
</div>
<script>
    window.onload = function () {
        document.getElementById("auto-submit-form").submit();
    };
</script>


{% endblock %}